{% extends 'base.html' %}

{% block title %}Report{% endblock %}
{% block name %}{{ post_detail.category}} Dashboard on {{ post_detail.title }}{% endblock %}

{% block sidebar %}
    <div class="detail-title">
        <div class="title">Choose Model</div>
        <div class="model">
            <div class="model1">Dryer</div>
            <div class="model2">Front Loader</div>
            <div class="model3">Top Loader</div>
        </div>
    </div>
    <div class="detail-side">
        <div class="detail-menu">
            Menu
        </div>
        <a href="{% url 'home_url' %}">
            <div class="detail-url">Home</div>
        </a>
        <a href="{% url 'category_url' 'bom-comparison' %}">
            <div class="detail-url">BOM Comparison</div>
        </a>
        <a href="{% url 'category_url' 'cost-review' %}">
            <div class="detail-url">Cost Review</div>
        </a>
        <a href="{% url 'category_url' 'vi-activity' %}">
            <div class="detail-url">VI Activity</div>
        </a>
    </div>
{% endblock %}

{% block container %}
    <div class="detail-container">
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
        <!-- graph -->
        <div class="detail-graph"><canvas width="90vw" height="17vh" id="chart"></canvas></div>
        <script>
            var chartColumn=JSON.parse('{{ detail_graph_column|safe }}');
            var chartData=JSON.parse('{{detail_graph_value|safe}}');
            var chartData1=JSON.parse('{{detail_graph_value1|safe}}');
            var chartData2=JSON.parse('{{detail_graph_value2|safe}}');
            var chartData3=JSON.parse('{{detail_graph_value3|safe}}');
            var chartConfig={
                data:{
                    labels:chartColumn,
                    datasets:[{
                        type:'line',
                        label:'vs BOM',
                        data:chartData,
                        borderColor:'rgba(255,99,132,1)',
                        bordreWidth:1
                    },
                    {
                        type:'line',
                        label:"PO + Substitute",
                        data:chartData3,
                        borderColor:'#F08080',
                        bordreWidth:1
                    },
                    {
                        type:'bar',
                        label:"PO Price Change",
                        data:chartData1,
                        borderColor:'#4AABED',
                        bordreWidth:1
                    },
                    {
                        type:'bar',
                        label:"Substitute Change",
                        data:chartData2,
                        backgroundColor:'#FFE0E6',
                        bordreWidth:1
                    }
                ]
                },
                options:{
                    scales:{
                        y:{
                            beginAtZero:true
                        }
                    }
                }
            };
            var chart=new Chart(document.getElementById('chart'), chartConfig);
        </script>
    
        <!-- table -->
        <div class="detail-trend">
            <table>
                <thead>
                  <tr>
                    {% for column in json_data.columns %}
                      <th>{{ column }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody id="table-body">
                  {% for row in json_data.rows %}
                    <tr>
                      <th>{{ row.index }}</th>
                      {% for value in row.values %}
                        <td>{{ value }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="detail-item">
            <table>
                <thead>
                  <tr>
                    {% for column in json_data.columns %}
                      <th>{{ column }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody id="table-body">
                  {% for row in json_data.rows %}
                    <tr>
                      <th>{{ row.index }}</th>
                      {% for v in row.values %}
                        <td>{{ v }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block navigator %}
    <div class="detail-comment">
        <div class="title">Comments</div>
        <div class="content">
            {% if not post_detail.comment_model.all %}
                <p>No comments yet!</p>
            {% endif %}
            {% for comment in post_detail.comment_model.all %}
                <div class="detail-individual">
                    <div class="right">{{comment.commenter_name}}</div>
                    <div class="left">{{comment.date_added|date:"m.d h:i" }}</div>
                    <div class="bottom">{{comment.comment_body}}</div>
                </div>    
                <div class="detail-individual-space"><small>e</small></div>
            {% endfor %}
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'detail_url' post_detail.slug post_detail.id %}">
                    {% csrf_token %}
                    {{ form_detail.as_table }}
                    <input type="submit" value="Add Comment">
                </form>
            {% else %}
                <form>
                    if you want to remain comment, please login
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}